/* Variaveis  */
:root {
    --primary-bg: #212529; /* Cor de fundo da sidebar */
    --secondary-bg: #A52A2A; /* Cor de fundo tema */
    --text-color: #FFFFFF; /* Cor do texto para fundos escuros */
    --highlight-color-1: #FF5733; /* Primeira cor de destaque */
    --highlight-color-2: #FFA500; /* Segunda cor de destaque */
    --arrow-color: #9F9F9F; /* Cor da seta */
    --body-bg: #f8f9fa; /* Cor de fundo do corpo */
}

/* Geral */
body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg);
}

/* Sidebar */
.sidebar {
    position: sticky;
    background-color: var(--primary-bg);
    color: var(--text-color);
    top: 0;
    height: 100vh;
    padding-top: 20px;
    overflow-y: hidden;
}
.container-fluid {
    height: auto;
    padding: 0;
}
.sidebar .nav-link {
    color: var(--text-color);
    padding: 10px 20px;
}

.sidebar .nav-link.active {
    background-color: var(--secondary-bg);
}

/* Conteudo principal */
.main-content {
    padding: 20px;
}

/* Estilo dos cards */
.card {
    margin-bottom: 20px;
    height: 90%;
    overflow: hidden;
}

.card-body {

    overflow: hidden; 
}
/* Barra de progresso */
.progress {
    height: 8px;
}

/* Container de tabela */
.chart-container {
    height: 180px;
}

/* Tabela donut */
.donut-chart {
    position: relative;
    height: 140px;
}
#salesMethodChart {
    width: 100% !important;
    height: 100% !important; 
}

/* Estilo do cartão de credito */
.credit-card {
    background-color: var(--secondary-bg);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
}

/* Informações gerais do cartão */
.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Informações do cartão */
.card-details {
    display: flex;
    flex-direction: column;
}

/* Saldo do cartão */
.card-balance {
    font-size: 12px;
    font-weight: bold;
}

/* Icone do cartão */
.card-icon {
    height: 40px;
    width: 40px;
    background-color: var(--text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.card-icon .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px;
}

.card-icon .circle:first-child {
    background-color: var(--highlight-color-1);
}

.card-icon .circle:last-child {
    background-color: var(--highlight-color-2);
}

/* Flecha do cartão */
.card-arrow {
    height: 30px;
    width: 30px;
    background-color: var(--text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-arrow .arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--arrow-color);
}

/* Header de cartão */
.card-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-header-container h2, 
.card-header-container h3 {
    margin: 0;
}

/* Contas a pagar info */
.account-summary-table {
    margin-bottom: 0;
    border-collapse: separate;
    border-spacing: 0;
}

.account-summary-table td {
    padding: 0.5rem;
    vertical-align: middle;
}

.transaction-info {
    font-weight: bold;
}

.transaction-details {
    color: #6c757d;
}

.transaction-amount {
    font-weight: bold;
}


/* Gráfico de gasto mensal */
.chart-container {
    position: relative;
    height: 200px; 
}

#spendingChart {
    width: 100%;
    height: 100%;
}

#weeklyComparisonChart {
    width: 100%;
    height: 100%;
}


.custom-badge {
    background-color: #4f4f4f;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 20px; 
    margin-left: 0.5rem;
}


/* Responsividade */
@media (max-width: 768px) {
    .card-info {
        flex-direction: column;
        align-items: flex-start;
    }
    .card-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .donut-chart {
        width: 100px;
        height: 100px;
    }
}
